.one {
  background-image: linear-gradient(to right, #5ee7df 0%, #b490ca 100%) !important;
}

.two {
  background-image: linear-gradient(to right, #a8edea 0%, #fed6e3 100%) !important;
}

.three {
  background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%) !important;
}

.four {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%) !important;
}

.five {
  background-image: linear-gradient(to right, #e0c3fc 0%, #8ec5fc 100%) !important;
}

.six {
  background-image: linear-gradient(to right, #fccb90 0%, #d57eeb 100%) !important;
}

.seven {
  background-image: linear-gradient(to right, #d299c2 0%, #fef9d7 100%) !important;
}

.eight {
  background-image: linear-gradient(to right, #ebc0fd 0%, #d9ded8 100%) !important;
}

.nine {
  background-image: linear-gradient(to right, #9890e3 0%, #b1f4cf 100%) !important;
}

.ten {
  background-image: linear-gradient(to right, #fddb92 0%, #d1fdff 100%) !important;
}

.oneone {
  background-image: linear-gradient(to right, #96fbc4 0%, #f9f586 100%) !important;
}

.onetwo {
  background-image: linear-gradient(to right, #2af598 0%, #009efd 100%) !important;
}

.onethree {
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%) !important;
}

.onefour {
  background-image: linear-gradient(to right, #fff1eb 0%, #ace0f9 100%) !important;
}

.onefive {
  background-image: linear-gradient(to right, #e9defa 0%, #fbfcdb 100%) !important;
}

.onesix {
  background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%) !important;
}

.oneseven {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%) !important;
}

.oneeight {
  background-image: linear-gradient(to right, #b721ff 0%, #21d4fd 100%) !important;
}

.onenine {
  background-image: linear-gradient(to right, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%) !important;
}

.oneten {
  background-image: linear-gradient(to right, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%) !important;
}

.twoone {
  background-image: linear-gradient(to right, #20E2D7 0%, #F9FEA5 100%) !important;
}

.twotwo {
  background-image: linear-gradient(to right, #E3FDF5 0%, #FFE6FA 100%) !important;
}

.twothree {
  background-color: #cdedfd !important;
  background-image: linear-gradient(to right, #cdedfd 0%, #ffec82 37%, #ffcfd2 100%) !important;
}

.twofive {
  background-color: #ffbd77 !important;
  background-image: linear-gradient(to right, #ffbd77 0%, #f0f4a4 37%, #acfcd9 100%) !important;
}

.twoseven {
  background-color: #c2eaba !important;
  background-image: linear-gradient(to right, #c2eaba 0%, #c5f4e0 37%, #efc2cf 100%) !important;
}

.twonine {
  background-color: #5de6de !important;
  background-image: linear-gradient(to right, #5de6de 0%, #b58ecc 74%) !important;
}
