body {
    font-family: 'Open Sans', sans-serif;
    color:#1D1D1D;
	background-image: url("poolwater.gif");
	bakground-repeat: repeat;
}
h5{
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 900;
	font-style: italic;
}
.disable-hover {
    pointer-events: none;
}

.link-group {
    list-style-type: none;
    padding: 22px 15px;
    display: block;
    text-align: left;
}

.link-item {
    list-style-type: none;
    padding: 17px 15px;
    display: block;
    text-align: left;
}

.link-item:hover {
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

html.can-touch .link-item:hover{ /* disable hover effect when input is touch */
    background-color: #fff;
}

html.can-touch .link-item:active{ /* disable hover effect when input is touch */
    background-color: #0000ff;
}

.fa {
    font-size: 16px;
    margin-left: 5px;
    margin-right: 10px;
}

.badge{
    font-size:0.8em;
}

.window { 
  width: 100%;
  font-family: 'Arial',sans-serif;
  background: #c0c0c0;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #000;
  border-bottom-color: #000;
}

.window_inner {
  border: 1px solid;
  border-top-color: #fff;
  border-left-color: #fff;
  border-right-color: #808080;
  border-bottom-color: #808080;
}

.window_heading {
  margin: 2px 2px 2px;
  padding: 2px 2px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  //original - #000080, #1084d0) another cool one - #5433ff, #20bdff, #a5fecb and another cool one - #12c2e9, #c471ed, #f64f59 another- #f7797d, #fbd786, #c6ffdd)
}

.originalgradient {
  background: linear-gradient(to right, #000080, #1084d0) !important;
}

.bluelime {
  background: linear-gradient(to right, #5433ff, #20bdff, #a5fecb) !important;
}

.bluepurplered {
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59) !important;
}

.orangeyellowgreen{
  background: linear-gradient(to right, #f7797d, #fbd786, #c6ffdd) !important;
}

.window_actions {
  margin: 5px 9px;
  line-height: 0.10;
  color: #000;
  font-size: 11px;
}

.window_content {
  margin: 2px 2px 2px 2px;
  border: 1px solid;
  border-top-color: #808080;
  border-left-color: #808080;
  border-bottom-color: #fff;
  border-right-color: #fff;
  font-size: 13px;
}

.window_content_inner {
  background: #fff;
  border: 1px solid;
  border-top-color: #000;
  border-left-color: #000;
  border-bottom-color: #dfdfdf;
  border-right-color: #dfdfdf;
  //padding: 10px;
}

.windowbutton {
	background: #c0c0c0;
	border: 1px solid;
    border-top-color: #dfdfdf;
    border-left-color: #dfdfdf;
    border-right-color: #000;
    border-bottom-color: #000;
	float: right;
	height: 15px;
	width: 18px;
	margin-right: 2px;
	vertical-align: middle;
}

.check-success {
	color: #38cd38;
}

.check-needsupgrade {
	
}

.check-unsupported {
	
}

.check-unconfirmed {
	
}

.window_green { 
  width: 100%;
  font-family: 'Arial',sans-serif;
  background: #96e596;
  border: 1px solid;
  border-top-color: #c5f1c5;
  border-left-color: #c5f1c5;
  border-right-color: #38cd38;
  border-bottom-color: #38cd38;
}

.window_inner_green {
  border: 1px solid;
  border-top-color: #f5fcf5;
  border-left-color: #f5fcf5;
  border-right-color: #67d967;
  border-bottom-color: #67d967;
}

.window_heading_green {
  margin: 2px 2px 2px;
  padding: 2px 2px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}

.window_actions_green {
  margin: 5px 9px;
  line-height: 0.10;
  color: #38cd38;
  font-size: 11px;
}

.window_content_green {
  margin: 2px 2px 2px 2px;
  border: 1px solid;
  border-top-color: #67d967;
  border-left-color: #67d967;
  border-bottom-color: #f5fcf5;
  border-right-color: #f5fcf5;
  font-size: 13px;
}

.window_content_inner_green {
  background: #f5fcf5;
  border: 1px solid;
  border-top-color: #38cd38;
  border-left-color: #38cd38;
  border-bottom-color: #c5f1c5;
  border-right-color: #c5f1c5;
  //padding: 10px;
}

.windowbutton_green {
	background: #96e596;
	border: 1px solid;
    border-top-color: #c5f1c5;
    border-left-color: #c5f1c5;
    border-right-color: #38cd38;
    border-bottom-color: #38cd38;
	float: right;
	height: 15px;
	width: 18px;
	margin-right: 2px;
	vertical-align: middle;
}

.window_red { 
  width: 100%;
  font-family: 'win98',sans-serif;
  background: #ff8e88;
  border: 1px solid;
  border-top-color: #ffc6c3;
  border-left-color: #ffc6c3;
  border-right-color: #ff1f13;
  border-bottom-color: #ff1f13;
}

.window_inner_red {
  border: 1px solid;
  border-top-color: #fffefe;
  border-left-color: #fffefe;
  border-right-color: #ff564d;
  border-bottom-color: #ff564d;
}

.window_heading_red {
  margin: 2px 2px 2px;
  padding: 2px 2px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}

.window_actions_red {
  margin: 5px 9px;
  line-height: 0.10;
  color: #ff1f13;
  font-size: 11px;
}

.window_content_red {
  margin: 2px 2px 2px 2px;
  border: 1px solid;
  border-top-color: #ff564d;
  border-left-color: #ff564d;
  border-bottom-color: #fffefe;
  border-right-color: #fffefe;
  font-size: 13px;
}

.window_content_inner_red {
  background: #fffefe;
  border: 1px solid;
  border-top-color: #ff1f13;
  border-left-color: #ff1f13;
  border-bottom-color: #ffc6c3;
  border-right-color: #ffc6c3;
  //padding: 10px;
}

.windowbutton_red {
	background: #ff8e88;
	border: 1px solid;
    border-top-color: #ffc6c3;
    border-left-color: #ffc6c3;
    border-right-color: #ff1f13;
    border-bottom-color: #ff1f13;
	float: right;
	height: 15px;
	width: 18px;
	margin-right: 2px;
	vertical-align: middle;
}

.window_yellow { 
  width: 100%;
  font-family: 'Arial',sans-serif;
  background: #fdfd83;
  border: 1px solid;
  border-top-color: #fefebc;
  border-left-color: #fefebc;
  border-right-color: #fafa0f;
  border-bottom-color: #fafa0f;
}

.window_inner_yellow {
  border: 1px solid;
  border-top-color: #fffff6;
  border-left-color: #fffff6;
  border-right-color: #fcfc49;
  border-bottom-color: #fcfc49;
}

.window_heading_yellow {
  margin: 2px 2px 2px;
  padding: 2px 2px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}

.window_actions_yellow {
  margin: 5px 9px;
  line-height: 0.10;
  color: #fafa0f;
  font-size: 11px;
}

.window_content_yellow {
  margin: 2px 2px 2px 2px;
  border: 1px solid;
  border-top-color: #fcfc49;
  border-left-color: #fcfc49;
  border-bottom-color: #fffff6;
  border-right-color: #fffff6;
  font-size: 13px;
}

.window_content_inner_yellow {
  background: #fffff6;
  border: 1px solid;
  border-top-color: #fafa0f;
  border-left-color: #fafa0f;
  border-bottom-color: #fefebc;
  border-right-color: #fefebc;
  //padding: 10px;
}

.windowbutton_yellow {
	background: #fdfd83;
	border: 1px solid;
    border-top-color: #fefebc;
    border-left-color: #fefebc;
    border-right-color: #fafa0f;
    border-bottom-color: #fafa0f;
	float: right;
	height: 15px;
	width: 18px;
	margin-right: 2px;
	vertical-align: middle;
}

.window_orange { 
  width: 100%;
  font-family: 'win98',sans-serif;
  background: #ffcb82;
  border: 1px solid;
  border-top-color: #ffe4bd;
  border-left-color: #ffe4bd;
  border-right-color: #ff9b0c;
  border-bottom-color: #ff9b0c;
}

.window_inner_orange {
  border: 1px solid;
  border-top-color: #fffcf8;
  border-left-color: #fffcf8;
  border-right-color: #ffb347;
  border-bottom-color: #ffb347;
}

.window_heading_orange {
  margin: 2px 2px 2px;
  padding: 2px 2px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}

.window_actions_orange {
  margin: 5px 9px;
  line-height: 0.10;
  color: #ff9b0c;
  font-size: 11px;
}

.window_content_orange {
  margin: 2px 2px 2px 2px;
  border: 1px solid;
  border-top-color: #ffb347;
  border-left-color: #ffb347;
  border-bottom-color: #fffcf8;
  border-right-color: #fffcf8;
  font-size: 13px;
}

.window_content_inner_orange {
  background: #fffcf8;
  border: 1px solid;
  border-top-color: #ff9b0c;
  border-left-color: #ff9b0c;
  border-bottom-color: #ffe4bd;
  border-right-color: #ffe4bd;
  //padding: 10px;
}

.windowbutton_orange {
	background: #ffcb82;
	border: 1px solid;
    border-top-color: #ffe4bd;
    border-left-color: #ffe4bd;
    border-right-color: #ff9b0c;
    border-bottom-color: #ff9b0c;
	float: right;
	height: 15px;
	width: 18px;
	margin-right: 2px;
	vertical-align: middle;
}

.window_ylw { 
  width: 100%;
  font-family: 'win98',sans-serif;
  background: #ffe082;
  border: 1px solid;
  border-top-color: #ffefbd;
  border-left-color: #ffefbd;
  border-right-color: #ffc40c;
  border-bottom-color: #ffc40c;
}

.window_inner_ylw {
  border: 1px solid;
  border-top-color: #fffdf8;
  border-left-color: #fffdf8;
  border-right-color: #ffd247;
  border-bottom-color: #ffd247;
}

.window_heading_ylw {
  margin: 2px 2px 2px;
  padding: 2px 2px;
  color: #fff;
  font-weight: bold;
  line-height: 16px;
}

.window_actions_ylw {
  margin: 5px 9px;
  line-height: 0.10;
  color: #ffc40c;
  font-size: 11px;
}

.window_content_ylw {
  margin: 2px 2px 2px 2px;
  border: 1px solid;
  border-top-color: #ffd247;
  border-left-color: #ffd247;
  border-bottom-color: #fffdf8;
  border-right-color: #fffdf8;
  font-size: 13px;
}

.window_content_inner_ylw {
  background: #fffdf8;
  border: 1px solid;
  border-top-color: #ffc40c;
  border-left-color: #ffc40c;
  border-bottom-color: #ffefbd;
  border-right-color: #ffefbd;
  //padding: 10px;
}

.windowbutton_ylw {
	background: #ffe082;
	border: 1px solid;
    border-top-color: #ffefbd;
    border-left-color: #ffefbd;
    border-right-color: #ffc40c;
    border-bottom-color: #ffc40c;
	float: right;
	height: 15px;
	width: 18px;
	margin-right: 2px;
	vertical-align: middle;
}

.ignitionText {
    animation: move 2s linear infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: move;
    background-image: linear-gradient(to right, #fe8a71, #f6cd61, #3da4ab, #0e9aa7, #fe8a71);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
