body {
    font-family: 'Open Sans', sans-serif;
    color:#1D1D1D;
	background-image: url("poolwater.gif");
	bakground-repeat: repeat;
}
h5{
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 900;
	font-style: italic;
}
.disable-hover {
    pointer-events: none;
}

.link-group {
    list-style-type: none;
    padding: 22px 15px;
    display: block;
    text-align: left;
}

.link-item {
    list-style-type: none;
    padding: 17px 15px;
    display: block;
    text-align: left;
}

.link-item:hover {
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

html.can-touch .link-item:hover{ /* disable hover effect when input is touch */
    background-color: #fff;
}

html.can-touch .link-item:active{ /* disable hover effect when input is touch */
    background-color: #0000ff;
}

.fa {
    font-size: 16px;
    margin-left: 5px;
    margin-right: 10px;
}

.badge{
    font-size:0.8em;
}

.window { 
  width: 100%;
  font-family: 'Arial',sans-serif;
  background: #c0c0c0;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #000;
  border-bottom-color: #000;
}

.window_inner {
  border: 1px solid;
  border-top-color: #fff;
  border-left-color: #fff;
  border-right-color: #808080;
  border-bottom-color: #808080;
}

.window_heading {
  margin: 2px 2px 2px;
  padding: 2px 2px;
  color: #fff;
  background: linear-gradient(to right, #5433ff, #20bdff, #a5fecb);
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  ///*original - #000080, #1084d0) another cool one - #5433ff, #20bdff, #a5fecb and another cool one - #12c2e9, #c471ed, #f64f59 another- #f7797d, #fbd786, #c6ffdd)*/
}

.window_actions {
  margin: 5px 9px;
  line-height: 0.10;
  color: #000;
  font-size: 11px;
}

.window_content {
  margin: 2px 2px 2px 2px;
  border: 1px solid;
  border-top-color: #808080;
  border-left-color: #808080;
  border-bottom-color: #fff;
  border-right-color: #fff;
  font-size: 13px;
}

.window_content_inner {
  background: #fff;
  border: 1px solid;
  border-top-color: #000;
  border-left-color: #000;
  border-bottom-color: #dfdfdf;
  border-right-color: #dfdfdf;
  padding: 10px;
}

p {
  margin: 0;
}
.windowbutton {
	background: #c0c0c0;
	border: 1px solid;
    border-top-color: #dfdfdf;
    border-left-color: #dfdfdf;
    border-right-color: #000;
    border-bottom-color: #000;
	float: right;
	height: 15px;
	width: 18px;
	margin-right: 2px;
	vertical-align: middle;
}

